<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.net>
        <settings>
            <ipv6 enabled="true"/>
			      <servicePointManager expect100Continue="false"/> 
        </settings>
		    <defaultProxy enabled="true" useDefaultCredentials="true">
		      <proxy usesystemdefault="True" bypassonlocal="True" proxyaddress="http://squid.domain.com:3128" />
		    </defaultProxy>		
    </system.net>
</configuration>